* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #fff;
	background: #61122f;
	font-family: Oxygen, Arial, Helvetica, sans-serif;
}

/* Header */
#header-nav { /* This is the yellow bar at the top */
	background: #f6b319;
	border: 0; /* unnecessary? */
	border-radius: 0; /* unnecessary? */
}

#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* restaurant name */
	font-family: "Lora", serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin: 0px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand p span {
	vertical-align: middle;
}

/*VISIBILITY BASED ON SCREEN SIZE*/
.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none;
}

@media (max-width: 767px) { /* visibility for extra small screens */
	.visible-xs {
		display: inline;
	}
}

@media (min-width: 768px) and (max-width: 991px) { /* visibility for small screens */
	.visible-sm {
		display: inline;
	}
}

@media (min-width: 992px) and (max-width: 1199px) { /* visibility for medium screens */
	.visible-md {
		display: inline;
	}
}

@media (min-width: 1200px) { /* visibility for large screens */
	.visible-lg {
		display: inline;
	}
}

/*COLUMNS FOR SCREEN SIZES */
@media (max-width: 767px) { /*Columns for extra small screens*/
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		float: left;
		border: 1px solid black;
	}
	.col-xs-1 {
		width: 8.333%;
	}
	.col-xs-2 {
		width: 16.666%;
	}
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.333%;
	}
	.col-xs-5 {
		width: 41.666%;
	}
	.col-xs-6 {
		width: 50%;
	}
	.col-xs-7 {
		width: 58.333%;
	}
	.col-xs-8 {
		width: 66.666%;
	}
	.col-xs-9 {
		width: 75%;
	}
	.col-xs-10 {
		width: 83.333%;
	}
	.col-xs-11 {
		width: 91.666%;
	}
	.col-xs-12 {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) { /*Columns for small screens*/
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
		border: 1px solid black;
	}
	.col-sm-1 {
		width: 8.333%;
	}
	.col-sm-2 {
		width: 16.666%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.333%;
	}
	.col-sm-5 {
		width: 41.666%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.333%;
	}
	.col-sm-8 {
		width: 66.666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.333%;
	}
	.col-sm-11 {
		width: 91.666%;
	}
	.col-sm-12 {
		width: 100%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) { /*Columns for Medium screens*/
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
		border: 1px solid black;
	}
	.col-md-1 {
		width: 8.333%;
	}
	.col-md-2 {
		width: 16.666%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.333%;
	}
	.col-md-5 {
		width: 41.666%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.333%;
	}
	.col-md-8 {
		width: 66.666%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.333%;
	}
	.col-md-11 {
		width: 91.666%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (min-width: 1200px) { /*Columns for Large screens*/
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
		border: 1px solid black;
	}
	.col-lg-1 {
		width: 8.333%;
	}
	.col-lg-2 {
		width: 16.666%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.333%;
	}
	.col-lg-5 {
		width: 41.666%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.333%;
	}
	.col-lg-8 {
		width: 66.666%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.333%;
	}
	.col-lg-11 {
		width: 91.666%;
	}
	.col-lg-12 {
		width: 100%;
	}

}